* {
    -fx-primary : #4BCAF5;
    -fx-secondary : #109B92;
    -fx-primarytext : #131414;
    -fx-color: #FBFEFE;
    -fx-primarytextfield: #ffffff;
}

*{
    -fx-background-color:  -fx-color;
}
/*estilo de cada botón*/
.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: #C4C5C6;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 22px;
}

.button:hover {
    -fx-border-color: #C4C5C6;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: #F6F9F8;
}
.glyph-icon{
    -fx-fill: -fx-primarytext;
    -glyph-size: 22px;
}

.imprimir{
    -fx-fill: -fx-primarytext;
    -glyph-size: 50px;
}

.botoncruceta{
    -fx-border-color: none;
    -fx-backgorund: none;
}

.cruceta{
	-fx-fill: red;
	-glyph-size: 60px;
}

.button:hover .glyph-icon{
    -fx-fill: #F6F9F8; 
}

.separator{
    -fx-background-color: -fx-primarytext;
}

.label{
    -fx-background-color: -fx-color;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 22px;
}

.cambio{
   -fx-background-color:  #7FFBAB; 
}